html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.main {
  display: flex;
  padding: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.main>picture {
  width: 100%;
}

.message h2{
  text-align: center;
}