html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}

.info {
  background: #b7b5b5;
  color: white;
  border: solid 1px #7b7b7b;
  padding: 20px 0px;
  text-align: center;
  font-size: 1.8rem;
}