html {
    font-size: 14px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ede7f6;
    padding-top: 70px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.2rem;
}

.header__content {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #5e35b1;
    color: #fff;
    padding: 15px 10px;
    font-size: 2rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .20);
}

.main-content {
    padding: 0 10px;
}


/* ======================== Colors  ============================= */

.deep-purple {
    background-color: #673ab7;
    color: #fff;
}

.deep-purple--lighten-2 {
    background-color: #9575cd;
    color: #fff;
}

.deep-purple--lighten-4 {
    background-color: #d1c4e9;
    color: #000;
}


/* ====================== Card style ========================== */

.card {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .20);
    margin: 0.5rem 0 1rem 0;
    padding: 10px;
    background-color: #fff;
    transition: box-shadow .25s;
}

.card__header {
    padding: 0px 0px 10px 0px;
    color: #9575cd;
}

.card__body {}


/* ====================== Column drop ========================== */

.column-drop-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/* Mobile first */

.column-drop-col--main, .column-drop-col--secondary-1, .column-drop-col--secondary-2 {
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
}


/* Medium size screens */

@media (min-width: 768px) {
    .column-drop-col--main {
        width: 60%;
        order: 2;
    }
    .column-drop-col--secondary-1 {
        width: 40%;
        order: 1;
    }
    .column-drop-col--secondary-2 {
        width: 100%;
        order: 3;
    }
}


/* Medium size screens */

@media (min-width: 1024px) {
    .column-drop-col--main {
        width: 60%;
        order: 2;
    }
    .column-drop-col--secondary-1 {
        width: 20%;
        order: 1;
    }
    .column-drop-col--secondary-2 {
        width: 20%;
        order: 3;
    }
}


/* ====================== Mostly fluid ========================== */

.mostly-fluid-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/* Mobile first */

.mostly-fluid-col--main, .mostly-fluid-col--secondary-1, .mostly-fluid-col--secondary-2 {
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
}


/* Medium size screens */

@media (min-width: 768px) {
    .mostly-fluid-container {
        width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
    .mostly-fluid-col--main {
        width: 60%;
        order: 2;
    }
    .mostly-fluid-col--secondary-1 {
        width: 40%;
        order: 1;
    }
    .mostly-fluid-col--secondary-2 {
        width: 100%;
        order: 3;
    }
}


/* ====================== Layout shifter ========================== */

.layout-shifter-container {
    display: flex;
    flex-wrap: wrap;
}

.layout-shifter-content {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.layout-shifter-content__main, .layout-shifter-content__secondary {
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
}

.layout-shifter-container >header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

.layout-shifter-container >header >h1 {
    font-size: 2rem;
    padding-bottom: 7px;
    order: 1;
    width: 100%;
    text-align: center;
}

.layout-shifter-container >header >nav {
    padding: 10px 0px 5px 5px;
}

.layout-shifter-container >header >nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.layout-shifter-container >header >nav ul li {
    list-style: none;
    display: inline-block;
}

.layout-shifter-container >header >nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding-right: 15px;
}


/* Mobile first */

@media (min-width: 550px) {
    .layout-shifter-container >header {
        padding: 10px 0px 10px 5px;
        flex-wrap: nowrap;
    }
    .layout-shifter-container >header >h1 {
        padding: 0px;
        order: 1;
        width: 40%;
        text-align: left;
    }
    .layout-shifter-container >header >nav {
        padding: 0px;
        order: 2;
    }
    .layout-shifter-container >header >nav ul {
        flex-wrap: nowrap;
    }
}

@media (min-width: 768px) {
    .layout-shifter-container >header {
        padding: 10px 0px 10px 5px;
        flex-wrap: wrap;
        width: 27%;
    }
    .layout-shifter-content {
        width: 73%;
    }
    .layout-shifter-container >header >h1 {
        width: 100%;
    }
    .layout-shifter-container >header >nav {
        padding-top: 10px;
        order: 2;
    }
    .layout-shifter-container >header >nav ul {
        flex-direction: column;
    }
    .layout-shifter-container >header >nav a {
        padding-top: 10px;
    }
}