doctype html
html
  head
    title Toast grid demo
    link(href='//fonts.googleapis.com/css?family=Raleway:400,300,600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='styles/main.css')
  body
    h2 Toast grid demo