doctype html
html
  head
    title Toast grid demo
    link(href='//fonts.googleapis.com/css?family=Raleway:400,300,600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='styles/main.css')
  body
    h2 Toast grid demo
    .grid
      .grid__col.grid__col--1-of-4
        | grid__col.grid__col--1-of-4
      .grid__col.grid__col--3-of-4
        | grid__col.grid__col--3-of-4
      .grid__col.grid__col--6-of-12
        | grid__col.grid__col--6-of-12