<template>
	<div class="card">
		<h2 class="card__header"> Layout shifter</h2>
		<div class="card__body">
			<div class="layout-shifter-container">
				<header class="deep-purple">
					<h1>Lorem ipsum</h1>
					<nav>
						<ul>
							<li id="ls-nav-1">
								<a href="javascript:;">Nunc</a>
							</li>
							<li id="ls-nav-2">
								<a href="javascript:;">Vivamus</a>
							</li>
							<li id="ls-nav-3">
								<a href="javascript:;">Praesent</a>
							</li>
							<li id="ls-nav-4">
								<a href="javascript:;">Nam semper</a>
							</li>
						</ul>
					</nav>
				</header>
				<div class="layout-shifter-content">
					<div class="layout-shifter-content__main deep-purple--lighten-2">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam semper fermentum magna, in convallis lacus sollicitudin at.
						Donec aliquam consectetur sem, sed malesuada risus commodo at.
					</div>
					<div class="layout-shifter-content__secondary deep-purple--lighten-4">
						Vivamus condimentum ex enim, et dictum libero vestibulum nec. Praesent massa dolor, elementum in magna eget, venenatis suscipit
						enim. Morbi mi nulla, aliquam non nunc in, vestibulum maximus velit.
					</div>
				</div>
			</div>
		</div>
	</div>
</template>