<template>
  <div class="card">
    <h2 class="card__header"> Mostly fluid</h2>
    <div class="card__body">
      <div class="mostly-fluid-container">
        <div class="mostly-fluid-col--main deep-purple">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam semper fermentum magna, in convallis lacus sollicitudin at.
          Donec aliquam consectetur sem, sed malesuada risus commodo at.
        </div>
        <div class="mostly-fluid-col--secondary-1 deep-purple--lighten-2">
          Nunc sodales dui quis mauris facilisis, in tempor purus posuere. Aenean elementum auctor dolor, quis tristique sem. Nunc
          vestibulum dignissim odio, et placerat orci posuere in.
        </div>
        <div class="mostly-fluid-col--secondary-2 deep-purple--lighten-4">
          Vivamus condimentum ex enim, et dictum libero vestibulum nec. Praesent massa dolor, elementum in magna eget, venenatis suscipit
          enim. Morbi mi nulla, aliquam non nunc in, vestibulum maximus velit.
        </div>
      </div>
    </div>
  </div>
</template>